TD {
	FONT-SIZE: 15px; color: #000000; font-family: "Arial", "Helvetica", "sans-serif"
}
P {
	FONT-SIZE: 15px; color: #000000; font-family: "Arial", "Helvetica", "sans-serif"
}
LI {
	FONT-SIZE: 15px
; text-decoration: none
; color: #000000; font-family: "Arial", "Helvetica", "sans-serif"
}
INPUT {
	FONT-SIZE: 15px; color: #000000; font-family: "Arial", "Helvetica", "sans-serif"
}
A:link {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
; color: #FFFFFF
}
A:active {
	COLOR: #FFFFFF; TEXT-DECORATION: none
}
A:hover {
	COLOR: #0099FF; TEXT-DECORATION: none
}
